/* Table of contents
* 1.0 - Backpack
* 2.0 - Overall
* 3.0 - Useful
*/



/*----------------Backpack--------------------------*/
.filler-box {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}
.filler-box-clicked {
    width: 100px;
    height: 100px;
    background-color: #4dff4d;
    border: 1px solid black;
    cursor: pointer;
}
.filler-box:hover {
    opacity: 0.6;
}

.food-junk {
    background-image: url('../images/food_junk.png');
}
.food-healthy {
    background-image: url('../images/food_healthy.png');
}
.run {
    background-image: url('../images/run.png');
}
.water {
    background-image: url('../images/water.png');
}
.spray {
    background-image: url('../images/spray.png');
}
.wash {
    background-image: url('../images/wash.png');
}
.condom {
    background-image: url('../images/condom.png');
}
.wine {
    background-image: url('../images/wine.png');
}
.smoke {
    background-image: url('../images/smoke.png');
}
.drops {
    background-image: url('../images/drops.png');
}
.std {
    background-image: url('../images/std.png');
}
.dice {
    background-image: url('../images/dice.png');
}


.item-number {
    font-size: 20px;
    font-weight: bold;
}
.plus-btn {
    width:33.33px;
    background-color: #d9d9d9;
    display: inline-block;
    padding: 0;
    margin: 0;
    overflow: none;
    font-size: 20px;
    cursor: pointer;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


.table-cell {
    font-size: 0px;
}

.dice-number {
    font-size: 40px;
}

.console {
    background-color: #333;
    height: 120px;
}
.message {
    font-size: 50px;
    color: white;
    text-align: center;
}
.console-header {
    font-size: 20px;
    text-align: center;
}

/*---------------------Overall--------------------*/
.subtitle {
    font-size: 20px;
}
/*----------------Useful--------------------------*/
.border-left {
    border-left: 1px solid black;
}
.border-right {
    border-right: 1px solid black;
}
.center {
    margin: 0 auto;
    width: 500px;
}
.center-text {
    text-align: center;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.inline {
    display: inline-block;
}
.game-over-screen {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: 10;
}
